@charset "utf-8";

.wrapper {
  text-align: center;
  width: 100%;
}

.title {
    border-top: 5px solid #853939;
    border-bottom: 5px solid #853939;
    background-color: #b95353;
    margin-top: 20px;
    color: white;
    padding: 10px;
    display: inline-block;
}

.receiptNumber {
  background-color: rgb(203, 205, 212);
  text-decoration: underline 2px rgb(126, 142, 202);
  text-underline-offset: 2px;
}

.numberInput {
    margin-left: 300px;
    text-align: center;
    margin: 0 auto;
	border-radius: 100vmax;
	height: 50px;
}

.inputExplanation {
  margin-bottom: 10px;
  line-height: 23px;
}

.content {
    margin-top: 50px;
    text-align: center;
}

.outputExplanation {
    margin-top: 70px;
}

.output {
    margin-top: 20px;
    color: #b95353;
    display: inline-block;
    padding: 10px;
}

.welcome {
  margin-top: 10px;
}

.logo {
    width: 150px;
    margin-top: 10px;
    margin-left: 10px;
}

#btn_1 {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

div {
    width: 100%;
}

body {
  background-color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn,
a.btn,
button.btn {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border {
  margin-bottom: 12px;
  padding: 0;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border-radius: 0;
}

a.btn-border span {
  position: relative;

  display: block;

  padding: 1.25rem 3rem;

  color: #000;
  border: 2px solid #000;
  border-radius: 0.5rem;
  background: #fff;
}

a.btn-border:before {
  position: absolute;
  bottom: -8px;
  left: 0;

  display: block;

  width: 100%;
  height: 14px;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 0.5rem 0.5rem;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

a.btn-border:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
}

a.btn-border:hover:before {
  bottom: -5px;
}

a.btn-border:active {
  -webkit-transform: translate(0, 7px);
  transform: translate(0, 7px);
}

a.btn-border:active:before {
  bottom: -1px;
}
